asgiref==3.7.2
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.2.0
deep-translator==1.11.4
Django==4.2.4
idna==3.4
mysql-connector-python==8.0.32
protobuf==3.20.3
PyMySQL==1.1.0
pypng==0.20220715.0
PyQRCode==1.2.1
requests==2.31.0
soupsieve==2.4.1
sqlparse==0.4.4
urllib3==2.0.4
