/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
* {
    margin: 0;
    padding:0;
    /* font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif; */
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    box-sizing: border-box;
    /* width: 100%; */
}

.login-container {
    background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 50px;
	/* height: 80%; */
	text-align: center;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	border-radius: 15px;
	margin-top: 10%;
	width: 50%;
	margin-bottom: 10%;
}

.container h1,h2 {
    margin-bottom: 20px;
}

input[type=submit] {
    margin-top: 10px;
	border-radius: 20px;
	border: 1px solid #1e8cfa;
	background-color: #2ba7ff;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor: pointer;   
}

input[type=submit]:active {
	transform: scale(0.95);
}

input[type=submit]:focus {
	outline: none;
}

input[type=submit].ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

input[type=radio] {
    /* width:1%; */
    margin-right: 10px;
}

label {
    text-align: right;
    clear: both;
    float:right;
}

#login-root {
    width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* font-family: 'Montserrat', sans-serif; */
	min-height: 100vh;
	/* margin: -20px 0 50px; */
	background: linear-gradient(to right, #1e8cfa, #2ba7ff);
	margin: 0;
    /* width: 100%; */
    margin-top: 0;
    padding-top: 0;
}

.main-content {
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* font-family: 'Montserrat', sans-serif; */
	/* min-height: 100vh; */
	/* margin: -20px 0 50px; */
	background: linear-gradient(to right, #1e8cfa, #2ba7ff);
	margin: 0;
    width: 100%;
}

.fill_bottom {
    width: 100%;
    min-height: 100vh;
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.container-summary {
    flex:1 1;
    background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 50px;
	/* height: 80%; */
	text-align: center;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	border-radius: 15px;
	margin-top: 10%;
	width: 50%;
	margin-bottom: 10%;
}

.container-summary h1,h2 {
    margin-bottom: 20px;
}

.overlay {
  width: 100%;
  top:0;
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  min-height: 100vh;

}

.hello {
    height: auto;
    border: none;
    outline:none;
    inset: 300px;
    /* top:50%; */
    width: 40%;
    left: 30%;
    position: absolute;
    color: black;
    /* background-color: black; */
}

html {
  top:0;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000;
    width: 100%;
  }
  .middle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  
  .close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 20px;
    height: 20px;
    opacity: 0.3;
    cursor: pointer;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

input[type=text],input[type=password] {
  background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 40%;
}
  
.info{
  color:#FF4B2B;
}

.indi {
    width: 90%;
    overflow-x:scroll;
}

.indi::-webkit-scrollbar {
  display: none;
}

.choose {
  display: flex;
  width: 90%;
  /* padding: 20px; */
  justify-content: space-between;
  background-color: #eee;
  border-radius: 10px;
}

.choose p {
  width: 100%;
  /* height: 100%; */
  padding: 20px;
  cursor: pointer;
}

#success {
  border-radius: 10px 0px 0px 10px;
}

#waiting {
  border-radius: 0px 10px 10px 0px;
}

.selected {
  background-color: #FF4B2B;
  color: white;
}

/* .dataTables_wrapper {
  margin-top: 50px;
}

.dtsb-logicContainer button{
  padding: 12px;
  border-radius: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
} */

#create-form-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1;
  width: 100%;
  /* min-height: 100vh; */
  font-family: Consolas, monaco, monospace;
  background-color: white;
  /* background: linear-gradient(to right, #ff4b2ba0, #ff416db0); */
  /* color: white; */
  /* padding-bottom: 25px; */
  /* position: absolute; */
  /* bottom: 0; */
  /* padding-bottom: 100%; */
  /* margin-bottom: 0; */
  /* min-height: 149px; */
  border-radius: 10px;
  /* height: 100%; */
  padding: 20px;
  overflow: hidden;
  
}

#user_table {
  padding-top: 20px ;
}

/* .even {
  background-color: #eee;
} */

table.dataTable tr.even { background-color: #eee; }

#user_table td {
  padding:5px;
  border-bottom:solid 1px #bababa;
  /* vertical-align: middle; */

}

#user_table th {
  padding-bottom: 10px;
  border-bottom:solid 1px #939393;
  cursor: pointer;
}

/* select,input[type=search] {
  background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 10%;
} */

.dataTables_paginate,.dataTables_info {
  margin-top: 20px;
}

.dataTables_wrapper table td {
  vertical-align: middle;
}

.dataTables_wrapper table td button{
  /* vertical-align: middle; */
  margin-top: 0px;
}